services:
  kafka:
    image: confluentinc/confluent-local:8.1.0
    container_name: kafka-kraft
    ports:
      - "9092:9092"

  postgres:
    image: postgres:16
    container_name: my-postgres
    environment:
      POSTGRES_DB: sykinnapi
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
