spring:
  # Disable auth locally
  autoconfigure:
    exclude:
      - org.springframework.boot.security.oauth2.client.autoconfigure.servlet.OAuth2ClientAutoConfiguration
      - org.springframework.boot.security.oauth2.server.resource.autoconfigure.servlet.OAuth2ResourceServerAutoConfiguration
      - org.springframework.boot.security.autoconfigure.servlet.SecurityAutoConfiguration
  # Container'd postgres
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/sykinnapi?reWriteBatchedInserts=true}
    username: ${DB_USER:myuser}
    password: ${DB_PASSWORD:mypassword}
    hikari:
      minimum-idle: 1
      maximum-pool-size: 5
  # Flyway for local config
  flyway:
    enabled: true
    url: ${DB_URL:jdbc:postgresql://localhost:5432/sykinnapi?reWriteBatchedInserts=true}
    user: ${DB_USER:myuser}
    password: ${DB_PASSWORD:mypassword}
  # Container'd kafka
  kafka:
    bootstrap-servers: ${BOOTSTRAP_SERVERS:localhost:9092}
    security:
      protocol: plaintext
  jpa:
    open-in-view: false

nais:
  cluster: ${NAIS_CLUSTER:local}

env:
  sourceVersion: local

jobs:
  sykmelding:
    initialDelaySeconds: ${JOBS_SYKMELDING_INITIAL_DELAY:1}
    fixedDelaySeconds: ${JOBS_SYKMELDING_FIXED_DELAY:10}
    resetTimeoutSeconds: ${JOBS_SYKMELDING_RESET_TIMEOUT_DELAY:10}
  juridisk:
    initialDelaySeconds: ${JOBS_SYKMELDING_INITIAL_DELAY:1}
    fixedDelaySeconds: ${JOBS_SYKMELDING_FIXED_DELAY:10}
    resetTimeoutSeconds: ${JOBS_SYKMELDING_RESET_TIMEOUT_DELAY:10}