<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>x_request_id</includeMdcKeyName>
        </encoder>
    </appender>
<!--// TODO logs directory should be changed back to secure-logs         <file>${SECURELOGS_DIR:-/secure-logs}/secure.log</file> og filePattern..-->
    <appender name="secure_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${SECURELOGS_DIR:-./logs}/secure.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${SECURELOGS_DIR:-./logs}/secure.log.%i</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>1</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>50MB</maxFileSize>
        </triggeringPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <logger name="securelog" level="INFO" additivity="false">
        <appender-ref ref="secure_log" />
    </logger>

    <root level="INFO">
        <appender-ref ref="stdout_json"/>
    </root>

    <logger name="no.nav" level="INFO"/>
</configuration>