on:
  push:
    branches-ignore:
      - 'dependabot/**'

permissions:
  actions: read
  contents: read
  security-events: write
  packages: write
  id-token: write

jobs:
  test:
    runs-on: ubuntu-latest
    if: github.ref_name != 'main' && !startsWith(github.ref_name, 'dev')
    steps:
      - uses: navikt/tsm-workflows/actions/gradle/test@main

  build:
    runs-on: ubuntu-latest
    if: github.ref_name == 'main' || startsWith(github.ref_name, 'dev')
    steps:
      - uses: navikt/tsm-workflows/actions/gradle/build@main
        id: build
        with:
          app: "syk-inn-api"
          team: "tsm"
          salsa: false
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    outputs:
      image: ${{ steps.build.outputs.image }}
      digest: ${{ steps.build.outputs.digest }}

  sbom:
    name: Upload SBOM for build
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: navikt/tsm-workflows/actions/attest-sign@main
        with:
          image: ${{ needs.build.outputs.image }}
          digest: ${{ needs.build.outputs.digest }}
          team: tsm

  deploy-dev:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: "dev-gcp"
          RESOURCE: ".nais/nais-dev.yaml"
          VAR: image=${{ needs.build.outputs.image }}

  deploy-prod:
    if: github.ref_name == 'main'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: "prod-gcp"
          RESOURCE: ".nais/nais-prod.yaml"
          VAR: image=${{ needs.build.outputs.image }}

  build-for-gpr:
    name: Publish a version of syk-inn-api to GPR for use in testing
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: navikt/tsm-workflows/actions/gradle/setup@main
      - name: Build with Gradle
        run: ./gradlew build -x test
      - name: Decide tags
        id: tags
        run: |
          IMAGE="ghcr.io/${{ github.repository }}-test"
          TAGS="${IMAGE}:${{ github.sha }}"
          if [[ "${{ github.ref_name }}" == "main" || "${{ github.ref_name }}" == dev* ]]; then
            TAGS="${TAGS}\n${IMAGE}:latest"
          fi
          echo -e "tags<<EOF\n${TAGS}\nEOF" >> "$GITHUB_OUTPUT"
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.tags.outputs.tags }}

  test-syk-inn-integrations:
    name: Runs syk-inn integration tests with the newest syk-inn-api from GPR
    needs: build-for-gpr
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          repository: navikt/syk-inn
          fetch-depth: 1
      - run: corepack enable
      - uses: actions/setup-node@v6
        id: setup-node
        with:
          node-version: 24
          cache: yarn
      - name: Install yarn dependencies
        run: yarn workspaces focus
        env:
          NPM_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          SYK_INN_API_INTEGRATION_TESTS_IMAGE=ghcr.io/${{ github.repository }}-test:${{ github.sha }} yarn test:integration
