on:
  push:
    branches-ignore:
      - 'dependabot/**'

permissions:
  actions: read
  contents: read
  security-events: write
  packages: write
  id-token: write

jobs:
  test:
    runs-on: ubuntu-latest
    if: github.ref_name != 'main' && !startsWith(github.ref_name, 'dev')
    steps:
      - uses: navikt/tsm-workflows/actions/gradle/test@feat/actions-for-gradlew

  build:
    runs-on: ubuntu-latest
    if: github.actor != 'dependabot[bot]' && (github.ref_name == 'main' || startsWith(github.ref_name, 'dev'))
    steps:
      - uses: navikt/tsm-workflows/actions/gradle/build@feat/actions-for-gradlew
        id: build
        with:
          app: "syk-inn-api"
          team: "tsm"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    outputs:
      image: ${{ steps.build.outputs.image }}

  deploy-dev:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: "dev-gcp"
          RESOURCE: ".nais/nais-dev.yaml"
          VAR: image=${{ needs.build.outputs.image }}

  deploy-prod:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: "prod-gcp"
          RESOURCE: ".nais/nais-prod.yaml"
          WORKLOAD_IMAGE: ${{ needs.build.outputs.image }}
